<!doctype html>
<html>
    <head>
        <style>
            
        </style>

    </head>

    <body>

        <div id = "dataDisplay">
            房客資料:
           
            <table>
                <tr>
                    <td>房號</td>
                    <td>|</td>
                    <td>姓名</td>
                    <td>|</td>
                    <td>身分證字號</td>
                    <td>|</td>
                    <td>電話</td>
                    <td>|</td>
                    <td>住址</td>
                </tr>
                <tr v-for="(item,index) in member">
                    <td>{{item.roomNumber}}</td>
                    <td>|</td>
                    <td>{{item.memberName}}</td>
                    <td>|</td>
                    <td>{{item.id}}</td>
                    <td>|</td>
                    <td>{{item.phoneNumber}}</td>
                    <td>|</td>
                    <td>{{item.address}}</td>
                </tr>
                
            </table>

            <div class = "roomNumber">
                欲修改房客之房號
                <select v-model="selectRoomNumber">
                    <option disabled>-- 請選擇 --</option>
                    <option value=0>3B</option>
                    <option value=1>3C</option>
                    <option value=2>4A</option>
                    <option value=3>4B</option>
                    <option value=4>4C</option>
                    <option value=5>5A</option>
                    <option value=6>5B</option>
                </select>
            </div>
            <div class = "memberInfo">
                欲修改房客之資訊
                <select v-model="selectmemberInfo">
                    <option disabled>-- 請選擇 --</option>
                    <option value="memberName">姓名</option>
                    <option value="id">身分證字號</option>
                    <option value="phoneNumber">電話號碼</option>
                    <option value="address">戶籍地址</option>
                </select>
            </div>
            <div>
                <input type="text" v-model="newText">
                <button v-on:click="changeData">修改</button>
            </div>


        </div>

    </body>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var memberData = new Vue({
            el:'#dataDisplay',
            data:{
                selectRoomNumber : "",
                selectmemberInfo:"",
                newText:"",
                member : [
                    {
                        roomNumber: '3B',
                        memberName: '陳一停',
                        id: 'A234567890',
                        phoneNumber: '0588465285',
                        address: 'taipei'
                    },
                    {
                        roomNumber: '3C',
                        memberName: '張二花',
                        id: 'D987654320',
                        phoneNumber: '84554218515',
                        address: 'taichung'
                    },
                    {
                        roomNumber: '4A',
                        memberName: '李三珊',
                        id: 'F123456789',
                        phoneNumber: '8855443322',
                        address: 'hsinchu'
                    },
                    {
                        roomNumber: '4B',
                        memberName: '陳四星',
                        id: 'C555666887',
                        phoneNumber: '9988776655',
                        address: 'Taoyuan'
                    },
                    {
                        roomNumber: '4C',
                        memberName: '震五藍',
                        id: 'W128546789',
                        phoneNumber: '7744552211',
                        address: 'hsinchu'
                    },
                    {
                        roomNumber: '5A',
                        memberName: '毛六金',
                        id: 'B775566554',
                        phoneNumber: '1111111111',
                        address: 'tokyo'
                    },
                    {
                        roomNumber: '5B',
                        memberName: '美七美',
                        id: 'E999999999',
                        phoneNumber: '8888888888',
                        address: 'usa'
                    }
                ]
            },
            methods:{
                changeData(){
                    switch(this.selectmemberInfo){
                        case 'memberName':
                            this.member[this.selectRoomNumber].memberName = this.newText;
                            break;

                        case 'id':
                            this.member[this.selectRoomNumber].id = this.newText;
                            break;

                        case 'phoneNumber':
                            this.member[this.selectRoomNumber].phoneNumber = this.newText;
                            break;

                        case 'address':
                            this.member[this.selectRoomNumber].address = this.newText;
                            break;
                    }
                    
                }
            }  
        })

        
        
    </script>
    
</html>